# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================
venv/
.env

# ==========================
# MLflow
# ==========================
mlruns/
mlflow.db

# ==========================
# Model Artifacts
# ==========================
*.pkl
*.pickle
*.joblib
*.onnx
*.h5
*.pt
*.pth

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store